<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Add these lines here -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- If you need internet access for map tiles, etc. (which you likely do) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="تطبيق فزع"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- إعدادات الإشعارات -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_notification" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/notification_color" />
            <!-- ... other activity settings ... -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- ... other application settings ... -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- ... queries tag if present ... -->
</manifest>
